[submodule "work"]
	path = work
	url = https://github.com/volkovasystems/work.git
[submodule "convertToSequence"]
	path = convertToSequence
	url = https://github.com/volkovasystems/convertToSequence.git